<h1>Edit serialkiller: <%= @serialkiller.first_name %>
                       <%= @serialkiller.last_name %></h1>

<form action="<%= serialkiller_path( @serialkiller.id ) %>" method="post">
 <strong>First Name:</strong> <input type="text" name="first_name" value="<%= @serialkiller.first_name %>"><br>
 <strong>Last name:</strong> <input type="text" name="last_name" value="<%= @serialkiller.last_name %>"><br>
 <strong>Image:</strong> <input type="text" name="image" value="<%= @serialkiller.image %>"><br>
 <strong>Alive:</strong> <input type="text" name="alive" value="<%= @serialkiller.alive %>"><br>
 <strong>Victims:</strong> <input type="text" name="victims" value="<%= @serialkiller.victims %>"><br>


 <button>Save</button>

</form>
