<h2>Edit <%= @men["name"] %> </h2>
<form action="/men/<%= @men["id"] %>" method="post">
  Name: <input type="text" name="name" value="<%= @men["name"] %>"><br>
  Country: <input type="text" name="country" value="<%= @men["country"] %>"><br>
  Height: <input type="text" name="height_in_cm" value="<%= @men["height_in_cm"] %>"><br>
  Age at death: <input type="text" name="age_at_death" value="<%= @men["age_at_death"] %>"><br>
  Note: <textarea type="text" name="note" value="<%= @men["note"] %>"></textarea><br>
  Image URL: <input type="text" name="image_url" value = "<%= @men["image_url"] %>"><br>

  <input type="submit" value="update">
</form>
