<h2 id="main-header">Edit <%= @beer.name  %></h2>

<div class="beer-form">
<div class="updated-column">
  <p id="updated">[ Last updated: <%= @beer.updated_at.in_time_zone('Sydney').strftime("%A %-d %B %Y - %H:%M:%S") %> ]</p>
</div>
<div class="nav-links-column">
  <%= link_to "Back to All Beers", beers_path, :class => "nav-links" %>&nbsp;&nbsp;
  <%= link_to "Delete this Beer", beer_path( @beer.id ), method: "delete", :class => "nav-links" %>&nbsp;&nbsp;
</div>

<%= render partial: "form" %> 
</div>

