<h1>
  <strong>
    Edit <%= @climber["name"]%>
  </strong>
</h1>
<form action="/climbers/<%= @climber["id"]%>" method="post">
  <div>
    <strong>First Name:</strong><input type="text" name="first_name" value="<%= @climber["first_name"]%>">
  </div>
  <div>
    <strong>Lsast Name</strong><input type="text" name="second_name" value="<%= @climber["second_name"]%>">
  </div>
  <div>
    <strong>Description:</strong><input type="text" name="description" value="<%= @climber["description"]%>">
  </div>
  <div>
    <strong>Age Climbed:</strong><input type="text" name="age_climbed" value="<%= @climber["age_climbed"]%>">
  </div>
  <div>
    <strong>Alive:</strong><input type="text" name="alive" placeholder="1 or 0" value="<%= @climber["alive"]%>">
  </div>
  <div>
    <strong>Nationality:</strong><input type="text" name="nationality" value="<%= @climber["nationality"]%>">
  </div>
  <div>
    <strong>Image Url:</strong><input type="text" name="image_url" value="<%= @climber["image_url"]%>">
  </div>
  <br>
<input type="submit" value="Update climber" class="button">
</form>
