<code>
  <h1>Mountain</h1>
  <div class="mountains">
    <p><strong>Name:</strong>  <%= @mountain["name"]%></p>
    <p><strong>Height:</strong> <%= @mountain["height"]%></p>
    <p><strong>Range:</strong> <%= @mountain["range"]%></p>
    <p> <strong>Parent Mountain:</strong> <%= @mountain["parent_mountain"]%></p>
    <p> <strong>First Ascent:</strong> <%= @mountain["first_ascent"]%></p>
    <p> <strong>Country:</strong> <%= @mountain["country"]%></p>
    <img src="<%= @mountain["image_url"]%>" id="img_individual">
    <div>
      <a href="/mountains/<%= @mountain["id"]%>/edit">Edit</a>
    </div>

  </div>
</code>
